1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
x = 6
print (x)

6

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
x = 8.5
print (type(x))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
x = 6
print (type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
x = 'Rocio'
print (x)

Rocio

5) Crear una variable que contenga un número complejo

In [12]:
num_complejo = 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [13]:
num_complejo = 7j
print (type(num_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [17]:
pi = 3.141592
round (pi,4)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [22]:
v1 = 'True'
v2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [23]:
print ('la variable uno es de', type(v1), 'la variable dos es de', type(v2))

la variable uno es de <class 'str'> la variable dos es de <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
x = 9 + 10.2

11) Realizar una operación de suma de números complejos

In [27]:
x = 9 + 9j

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
print (x)

(9+9j)

13) Realizar una operación de multiplicación

In [31]:
z = 15 * 5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
y = 2
x = 8
print(y**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
y = 27
x = 4
print(y/x)

6.75

16) De la división anterior solamente mostrar la parte entera

In [36]:
print(y//x)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
print(y%x)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [45]:
var1 = 'rosario ' 
var2 = 'santa fe'
print(var1 + var2)

rosario santa fe

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [46]:
y = '2'
x = 2
print (y == x)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [47]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [48]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [49]:
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [56]:
var1 = - 3
var1 -= 2
print(var1)

-5

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [57]:
1 << 2

4

 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [60]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

No esta permitido porque reconoce al '2' como un string y 2 cono int haciendo que esta operación no sea válida.

In [61]:
float (2) + float('2')

4.0

In [62]:
str (2) + str('2')

'22'

In [63]:
int(2)+ int('2')

4

26) Realizar una operación válida entre valores de tipo entero y string

In [74]:
var_a = 'el numero uno se escribe asi: '
var_b = 1
print (var_a + str(var_b))

el numero uno se escribe asi: 1